html, body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
}
#surveyComplete,
#surveyNext,
#surveyPrev {
    color: #1ab394;
}
/* the main container, between header and footer */
.main-block{
    height: 80.75%;
}

/*Menu*/
ul.tabs {
    float: left;
    clear: both;
    width: 800px;
    list-style: none;
    border-bottom: 2px solid #1ab394;
    position: relative;
    font-size: 1.061em;
    padding: 0;
  }
  ul.tabs li {
    float: left;
  }
  ul.tabs li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #666;
    padding: 12px 20px;
    min-width: 85px;
    font-weight: normal;
    transition: color 0.3s;
  }
  ul.tabs li.active a 
  {
    color: #1ab394;
  }
  
  #magic-line {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 125px;
    height: 4px;
    background: #1ab394;
    transition: all 0.3s;
  }
  /*Clear Fix*/
  .tabs:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  *:first-child + html .tabs {
    zoom: 1;
  }

.input-group{
    margin: 0; padding: 0; border: 0; outline: 0;
}
.three-columns{
    height: 100%;
}

.center-block{
    text-align: center;
    vertical-align: middle;
    padding-top: 15%;
    font-size: 24px;
    font-weight: bold;
}


.center-block-main{
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
    font-size: 24px;
    font-weight: bold;
}

.input-group{
    padding: 5px 5px 5px 5px;
}

.second-element{
    padding-left: 10px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

navbar {
    height: 10%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    height: 10.75%;
}

.button{
    text-align: center;
}

a:link{
    color: khaki;
}