.navbar-inverse
{
    
}

body 
{
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  background-color: #3c8893;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

#contact-form 
{
  max-width: 90%;
  margin: 0 auto;
  font-size: 25px;
  margin-top:100px;
}

label 
{
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

textarea,
input 
{
  font-size: 25px;
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}

textarea 
{
  text-align: left;
  overflow:hidden; 
  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0)
}

textarea:focus 
{
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid 
{
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

textarea:required:valid 
{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input 
{
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required 
{
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:focus 
{
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid 
{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid 
{
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder 
{
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder 
{
  /* Firefox old */ 
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder
{
  /* Firefox 19+ */
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder 
{
  /*IE*/
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding 
{
  vertical-align: top;
}

.send-icn 
{
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover 
{
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

button 
{
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

button:hover small 
{
  opacity: 1;
}

small 
{
  display: block;
  opacity: 0;
}
